<div id="app">
	<table>
		<tbody>
			<tr>
				<td>EOD for Day: </td>
				<td><input type="date" v-model="eod_date" placeholder="Date: dd/mm/yyyy"/></td>
			</tr>
			<tr>
				<td>Copy RMAN backup to Harddrive and Backup PC's</td>
				<td><input type="checkbox" v-model="checked.copy_rman"/></td>
			</tr>
			<tr>
				<td>Clear entry mode transaction</td>
				<td>
					<input type="checkbox" v-model="checked.clear_entry_mode_transactions">
        </td>
			</tr>
			<tr>
				<td>Rename/Remove previous day logs</td>
				<td>
					<input type="checkbox" v-model="checked.rename_previous_day_logs">
        </td>
			</tr>
			<tr>
				<td>/Backend/DANPHE_BACKEND/Finacle/FC/app/CDCI_LOGS</td>
				<td></td>
			</tr>
			<tr>
				<td>/Backend/DANPHE_BACKEND/Finacle/FC/app/CDCI_LOGS/FINADMIN</td>
				<td></td>
			</tr>
			<tr>
				<td>HLST2(Check Penal Interest Received Placeholder: NOACCOUNT)</td>
				<td>Run HRLBOOK from sol 01 <input type="checkbox" v-model="checked.hrlbook"/></td>
			</tr>
			<tr>
				<td>Execute removelogs.sh</td>
				<td><input type="checkbox"  v-model="checked.removelogs"/></td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td>Batch Job Check</td>
				<td>Run for Date</td>
				<td>Count</td>
				<td>Time</td>
			</tr>
			<tr>
				<td>Daily</td>
				<td><input type="date" @change="addTimeInThis(batch.daily)" v-model="batch.daily.run_for_date"/></td>
				<td><input type="number" v-model="batch.daily.count"/></td>
				<td><span v-text="batch.daily.time"></span></td>
			</tr>
			<tr>
				<td>Daily</td>
				<td><input type="date" @change="addTimeInThis(batch.daily_prscd)" v-model="batch.daily_prscd.run_for_date"/></td>
				<td><input type="number" v-model="batch.daily_prscd.count"/></td>
				<td><span v-text="batch.daily_prscd.time"></span></td>
			</tr>
			<tr>
				<td>Monthly</td>
				<td><input type="date" @change="addTimeInThis(batch.monthly)" v-model="batch.monthly.run_for_date"/></td>
				<td><input type="number" v-model="batch.monthly.count"/></td>
				<td><span v-text="batch.monthly.time" ></span></td>
			</tr>
			<tr>
				<td>Quarterly</td>
				<td><input type="date" @change="addTimeInThis(batch.quarterly)" v-model="batch.quarterly.run_for_date"/></td>
				<td><input type="number" v-model="batch.quarterly.count"/></td>
				<td><span v-text="batch.quarterly.time" ></span></td>
			</tr>
			<tr>
				<td>Half Yearly</td>
				<td><input type="date" @change="addTimeInThis(batch.half_yearly)" v-model="batch.half_yearly.run_for_date"/></td>
				<td><input type="number" v-model="batch.half_yearly.count"/></td>
				<td><span v-text="batch.half_yearly.time"></span></td>
			</tr>
			<tr>
				<td>Yearly</td>
				<td><input type="date" @change="addTimeInThis(batch.yearly)" v-model="batch.yearly.run_for_date"/></td>
				<td><input type="number" v-model="batch.yearly.count"/></td>
				<td><span v-text="batch.yearly.time"></span></td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td><label><input v-model="eod_type" value="daily" type="radio"><p>Daily</p></label></td>
				<td><label><input v-model="eod_type" value="monthly" type="radio"><p>Monthly</p></label></td>
				<td><label><input v-model="eod_type" value="quarterly" type="radio"><p>Quarterly</p></label></td>
				<td><label><input v-model="eod_type" value="half-yearly" type="radio"><p>Half Yearly</p></label> </td>
				<td><label><input v-model="eod_type" value="yearly" type="radio"><p>Yearly</p></label></td>
			</tr>
			<tr v-for="criteria in filteredCriterias">
				<td colspan="4" v-text="criteria.text">Criteria 1</td>
				<td><input v-model="criteria.checked" type="checkbox"></td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td>
					Note last copied arc file before running HSCOD
				</td>
				<td>
					ARC
				</td>
			</tr>
		</tbody>
	</table>
	<div class="page-break"></div>

	<table>
		<tbody>
			<tr>
				<td colspan="4">Check Space</td>
			</tr>
			<tr>
				<td>Name</td>
				<td>Available %</td>
				<td>Used %</td>
				<td>TimeStamp</td>
			</tr>
			<tr>
				<td colspan="5">Application</td>
			</tr>
			<tr>
				<td>/Backend</td>
				<td><input min="1" max="99" @change="addTimeInThis(space.application.backend)" type="number" v-model="space.application.backend.available"/></td>
				<td><input type="number" disabled :value="100 - space.application.backend.available"/></td>
				<td v-text="space.application.backend.time"></td>
			</tr>
			<tr>
				<td>/Finsetups</td>
				<td><input min="1" max="99" @change="addTimeInThis(space.application.finsetups)" type="number" v-model="space.application.finsetups.available"/></td>
				<td><input type="number" disabled :value="100 - space.application.finsetups.available"/></td>
				<td v-text="space.application.finsetups.time"></td>
			</tr>
			<tr>
				<td colspan="5">Database</td>
			</tr>
			<tr>
				<td>/ArchiveLogs</td>
				<td><input min="1" max="99" @change="addTimeInThis(space.database.archivelogs)" type="number" v-model="space.database.archivelogs.available"/></td>
				<td><input type="number" disabled :value="100 - space.database.archivelogs.available"/></td>
				<td v-text="space.database.archivelogs.time"></td>
			</tr>
			<tr>
				<td>/DbBackup</td>
				<td><input min="1" max="99" @change="addTimeInThis(space.database.dbbackup)" type="number" v-model="space.database.dbbackup.available"/></td>
				<td><input min="1" max="99" disabled :value="100 - space.database.dbbackup.available"/></td>
				<td v-text="space.database.dbbackup.time"></td>
			</tr>
			<tr>
				<td>/Database</td>
				<td><input min="1" max="99" @change="addTimeInThis(space.database.database)" type="number" v-model="space.database.database.available"/></td>
				<td><input type="number" :value="100-space.database.database.available"/></td>
				<td v-text="space.database.database.time"></td>
			</tr>
			<tr>
				<td colspan="5">WasServer</td>
			</tr>
			<tr>
				<td>/Wasapp</td>
				<td><input @change="addTimeInThis(space.wasserver.wasapp)" type="number" v-model="space.wasserver.wasapp.available"/></td>
				<td><input type="number" disabled :value="100 - space.wasserver.wasapp.available"/></td>
				<td v-text="space.wasserver.wasapp.time"></td>
			</tr>
			<tr>
				<td>/Wasadmin</td>
				<td><input @change="addTimeInThis(space.wasserver.wasadmin)" type="number" v-model="space.wasserver.wasadmin.available"/></td>
				<td><input type="number" :value="space.wasserver.wasadmin.available"/></td>
				<td v-text="space.wasserver.wasadmin.time"></td>
			</tr>
			<tr>
				<td colspan="5">C24</td>
			</tr>
			<tr>
				<td>/C24Services</td>
				<td><input max="99" min="1" @change="addTimeInThis(space.c24.c24services)" type="number" v-model="space.c24.c24services.available"/></td>
				<td><input type="number" :value="100-space.c24.c24services.available"/></td>
				<td v-text="space.c24.c24services.time"></td>
			</tr>
			<tr>
				<td>/Database</td>
				<td><input max="99" min="1" @change="addTimeInThis(space.c24.database)" type="number" v-model="space.c24.database.available"/></td>
				<td><input type="number" :value="100-space.c24.database.available"/></td>
				<td v-text="space.c24.database.time"></td>
			</tr>
			<tr>
				<td>/CSIS_DbBackup</td>
				<td><input max="99" min="1" @change="addTimeInThis(space.c24.csis_dbbackup)" type="number" v-model="space.c24.csis_dbbackup.available"/></td>
				<td><input type="number" :value="100-space.c24.csis_dbbackup.available"/></td>
				<td v-text="space.c24.csis_dbbackup.time"></td>
			</tr>
			<tr>
				<td>/ArchiveLogs</td>
				<td><input max="99" min="1" @change="addTimeInThis(space.c24.archivelogs)" type="number" v-model="space.c24.archivelogs.available"/></td>
				<td><input type="number" disabled :value="100 - space.c24.archivelogs.available"/></td>
				<td v-text="space.c24.archivelogs.time"></td>
			</tr>
			<tr>
				<td colspan="3">Check Space in 10.10.155.113</td>
				<td><input @click="addTimeInThis(space.one_hundred_thirteen)" type="checkbox"></td>
			</tr>
			<tr>
				<td colspan="3">Run Gather table stats query / ALLOW_SWEEPS
					<input @click="addTimeInThis(run.stat_gather)" type="checkbox"></td>
				<td>/DBbackup/statgatherlog</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td>Restart finlistval</td>
				<td><input type="checkbox" @click="addTimeInThis(restart_before_eod.finlistval)" /></td>
				<td>Restart core</td>
				<td><input type="checkbox" @click="addTimeInThis(restart_before_eod.core)" /></td>
			</tr>
			<tr>
				<td>Restart cs</td>
				<td><input type="checkbox" @click="addTimeInThis(restart_before_eod.cs)" /></td>
				<td>Restart cbc</td>
				<td><input type="checkbox" @click="addTimeInThis(restart_before_eod.cbc)" /></td>
			</tr>
			<tr>
				<td>Restart uniser</td>
				<td><input type="checkbox" @click="addTimeInThis(restart_before_eod.uniser)" /></td>
				<td>Restart was</td>
				<td><input type="checkbox" @click="addTimeInThis(restart_before_eod.was)" /></td>
			</tr>
			<tr>
				<td>Restart finrpt</td>
				<td><input type="checkbox" @click="addTimeInThis(restart_before_eod.finrpt)" /></td>
				<td>Restart cups</td>
				<td><input type="checkbox" @click="addTimeInThis(restart_before_eod.cups)" /></td>
			</tr>
		</tbody>
	</table>
	<div class="page-break"></div>

	<table>
		<tbody>
			<tr>
				<td colspan="4">
					1st and 12th EMI schedules, 9th Staff EMI, Last of Nepali month(M/Q/H/Y)
				</td>
			</tr>
			<tr>
				<td>HSCOD</td>
				<td>Parallel</td>
				<td>Start Time</td>
				<td>Helpful commands</td>
			</tr>
			<tr v-for="sol in sols">
				<td v-text="sol.set_id"></td>
				<td><input v-model="sol.parallel" @change="start(sol)" type="text"/></td>
				<td v-text="sol.start_time"></td>
				<td v-text="sol.hint"></td>
			</tr>
		</tbody>
	</table>
	<div class="page-break"></div>

	<table>
		<tbody>
			<tr>
				<td colspan="4">After HSCOD</td>
			</tr>
			<tr v-for="item in bankLevels">
				<td style="width: 33%" v-text="item.name"></td>
				<td style="width: 33%"><input @change="addTimeInThis(item)" type="checkbox" :checked="item.time"></td>
				<td style="width: 33%"><span v-text="item.time"></span></td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td>Copy EOD Log in 10.10.155.113</td>
				<td><input @click="addTimeInThis(after_eod.copy_log)"   :checked="after_eod.copy_log.time.length > 0" type="checkbox"></td>
				<td v-text="after_eod.copy_log.time"></td>
			</tr>
			<tr>
				<td>Last Arc after EOD</td>
				<td><input v-model="after_eod.last_arc_after_eod.count" type="text"></td>
				<td v-text="after_eod.last_arc_after_eod.time"></td>
			</tr>
			<tr>
				<td>SOD Count</td>
				<td><input v-model="after_eod.sod_count.count" type="number"></td>
				<td v-text="after_eod.sod_count.time"></td>
			</tr>
			<tr>
				<td>GUP Count</td>
				<td><input v-model="after_eod.gup_count.count" type="number"></td>
				<td v-text="after_eod.gup_count.time"></td>
			</tr>
			<tr>
				<td>Check Batch Job</td>
				<td><input @click="addTimeInThis(after_eod.check_batch_job)" :checked="after_eod.check_batch_job.time" type="checkbox"></td>
				<td v-text="after_eod.check_batch_job.time"></td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td colspan="4">To Start all services</td>
			</tr>
			<tr>
				<td>Services</td>
				<td>Command</td>
				<td>Check</td>
				<td>Time</td>
			</tr>
			<tr>
				<td>was</td>
				<td>Take backup of temp, wstemp, workspace</td>
				<td><input type="checkbox" :checked="restart_after_eod.backup.time.length > 0"  @click="addTimeInThis(restart_after_eod.backup)"></td>
				<td v-html="restart_after_eod.backup.time"></td>
			</tr>
			<tr>
				<td>was</td>
				<td>./startServer.sh server1</td>
				<td><input type="checkbox" :checked="restart_after_eod.was.time.length > 0"  @click="addTimeInThis(restart_after_eod.was)"></td>
				<td v-html="restart_after_eod.was.time"></td>
			</tr>
			<tr>
				<td>cs</td>
				<td>./start</td>
				<td><input type="checkbox" :checked="restart_after_eod.cs.time.length > 0"  @click="addTimeInThis(restart_after_eod.cs)"></td>
				<td v-html="restart_after_eod.cs.time"></td>
			</tr>
			<tr>
				<td>core</td>
				<td>./start-coresessionDANPHE</td>
				<td><input type="checkbox" :checked="restart_after_eod.core.time.length > 0"  @click="addTimeInThis(restart_after_eod.core)"></td>
				<td v-html="restart_after_eod.core.time"></td>
			</tr>
			<tr>
				<td>fin</td>
				<td>./start-finlistvalDANPHE</td>
				<td><input type="checkbox" :checked="restart_after_eod.fin.time.length > 0"  @click="addTimeInThis(restart_after_eod.fin)"></td>
				<td v-html="restart_after_eod.fin.time"></td>
			</tr>
			<tr>
				<td>uni</td>
				<td>./start-uniserDANPHE</td>
				<td><input type="checkbox" :checked="restart_after_eod.uni.time.length > 0"  @click="addTimeInThis(restart_after_eod.uni)"></td>
				<td v-html="restart_after_eod.uni.time"></td>
			</tr>
			<tr>
				<td>cbc</td>
				<td>./start-cbcDANPHE</td>
				<td><input type="checkbox" :checked="restart_after_eod.cbc.time.length > 0"  @click="addTimeInThis(restart_after_eod.cbc)"></td>
				<td v-html="restart_after_eod.cbc.time"></td>
			</tr>
		</tbody>
	</table>
	<div class="page-break"></div>

	<table>
		<tbody>
			<tr>
				<td colspan="3">Take Rman Backup</td>
			</tr>
			<tr>
				<td>PATH</td>
				<td>COMMAND</td>
				<td>I.P/USERS</td>
			</tr>
			<tr>
				<td>/DBbackup/rman_scripts</td>
				<td>nohup ./take_rman.sh &</td>
				<td>10.2.5.11/rman</td>
			</tr>
			<tr>
				<td>/DBbackup/rman_backup</td>
				<td>du -sk DB_YYYYMMDD</td>
				<td>to check RMAN Backup</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td colspan="3">CUPS SERVICES RESTART</td>
			</tr>
			<tr>
				<td>Command</td>
				<td>sudo service cups restart</td>
				<td>10.2.5.10/print</td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td>C:/DATAMIS</td>
				<td>cal.bat</td>
				<td>10.10.157.72/administrator</td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td>Mis server cron job(Add # before second line using crontab -e command</td>
				<td>10.2.4.21</td>
			</tr>
			<tr>
				<td>Check mis cron jobs crontab -i and after disable arch sync open database in ./</td>
				<td></td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td>Mis server cron job(Add # before second line using crontab -e command</td>
				<td>10.2.4.21</td>
			</tr>
			<tr>
				<td>Check mis cron jobs crontab -i and after disable arch sync open database in ./</td>
				<td></td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td>Run BatchMigration.bat file 10.11.0.10 <br/>User: BYNTER-13\bi001(Run as Administrator)</td>
				<td>MIS must be openreadonly mode (ARCH syn disabled mode)</td>
			</tr>
			<tr>
				<td>Location of file:- C:\Users\bi001\Desktop\</td>
				<td> Please use table 'Migrationstats' in NIC_JetDS to <br/> confirm the Start/End of
					<br/> Migration. (C:\Users\bi001\Desktop)</td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td>
					<div class="w-full h-30 p-10" cols="30" contenteditable="true"></div>
				</td>
			</tr>
		</tbody>
	</table>

	<table>
		<tbody>
			<tr>
				<td>EOD Users: </td>
				<td></td>
				<td>Verifier: </td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<div class="page-break"></div>
</div>